/* FormCurrencyInput specific styles */

.currencyInput {
    position: relative;
}

.currencySymbol {
    position: absolute;
    left: 0.5rem;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    color: #6b7280;
}

.currencyInput .formInput {
    padding-left: 1.25rem;
}